<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand">PhotoManager</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/albums" routerLinkActive="active">Albums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/photos" routerLinkActive="active">Photos</a>
        </li>
      </ul>
      <pm-search></pm-search>
      <button class="btn btn-outline-primary" (click)="openCreatePhotoModal()">+ Photo</button>
    </div>
  </nav>
</header>
